.fadeIn
{
  -webkit-animation-duration:2s;
  animation-duration: 2s;
  animation-fill-mode: both;
  -webkit-animation-fill-mode: both;
  -webkit-animation-name:fadeIn;
  animation-name: fadeIn;
}

@keyframes fadeIn {
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

.fadeInDown
{
  -webkit-animation-duration:2s;
  animation-duration: 2s;
  animation-fill-mode: both;
  -webkit-animation-fill-mode: both;
  -webkit-animation-name:fadeInDown;
  animation-name: fadeInDown;
}

@keyframes fadeInDown {
  from{
    opacity: 0;
    -webkit-transform: translate3d(0, -100%,0);
    transform: translate3d(0, -100%,0);
  }
  to
  {
    opacity: 1;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }
}

.fadeInUp
{
  -webkit-animation-duration:2s;
  animation-duration: 2s;
  animation-fill-mode: both;
  -webkit-animation-fill-mode: both;
  -webkit-animation-name:fadeInUp;
  animation-name: fadeInUp;
}

@keyframes fadeInUp {
  from{
    opacity: 0;
    -webkit-transform: translate3d(0,50%,0);
    transform: translate3d(0,50%,0);
  }
  to
  {
    opacity: 1;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }
}
