.relato_container
{
  margin: 0 auto;
  display: block; /* elementos de forma horizontal */
  max-width: 85%;

}

.titulo_container h1
{
  color: #2ECC71;
  font-size: 80px;
  margin-top: 20px;
  justify-content: center;
  text-decoration: underline;
}

.titulo_container h4
{
  margin-top: -30px;
  justify-content: center;
  font-size: 15px;
}

.image_container
{
  margin-top: 100px;
  justify-content: center;
}
.image_container img{
  height: 100%;
  width: 100%;
}

.image_container video{
  margin-top: -100px;
  height: 100%;
  width: 100%;
}
.historia_container
{
  justify-content: center;
  max-width: 100%;
  font-size: 20px;
}

.historia_container a
{
  color: #2ECC71;
  font-size: 30px;
}

.historia_container h3
{
  margin-left: 0px;
  margin-top: -20px;
  color: #2ECC71;
  font-size: 40px;
}

.historia_container p{
  margin: 40px 0;
  color: #0B5345;
}

footer{
  display: flex;
  justify-content: center;

}
footer a{
  color: white;
}

