.relato_container
{
  margin-left: 290px;
  margin-right: auto;
  display: block; /* elementos de forma horizontal */
  max-width: 900px;

}

.titulo_container h1
{
  color: #2ECC71;
  font-size: 80px;
  margin-top: 20px;
  justify-content: center;
  text-decoration: underline;
}

.titulo_container h4
{
  color: #0B5345;
  margin-top: -55px;
  margin-left: 100px;
  font-size: 40px;
}

.image_container
{
  justify-content: center;
}
.historia_container
{
  justify-content: center;
  max-width: 735px;
  font-size: 20px;
  color: white;
}

.historia_container a
{
  color: #2ECC71;
  font-size: 30px;
}

.historia_container h3
{
  margin-left: 0px;
  margin-top: -20px;
  color: #2ECC71;
  font-size: 40px;
}
