.blogs-posts-container .relato01{
    display: inline-block;
    margin-bottom: 50px;
    margin-right: 10px;
}

.blogs-posts-container .relato01{
    margin-bottom: 35px;
}

.blogs-posts-container{
  margin: 50px;
}
.blogs-posts-container .relato01 img{
    width: 600px;
    max-height: 310px;
}

.menu-container{
    max-width: 1500px;
    margin: auto;
}

.texto{
  display: flex;
  justify-content: center;
  margin-top: 0;
  margin-left: 50px;
}

.texto a{
  font-size: 40px;
  color: white;
}

.textogrande a{
    font-size: 30px;
}
