body
{
  padding: 0px;
  margin: 0px;
}
.header
{
  background-color: #0B5345;
  height: 110px;
/* centrar vertical mente */
  display: flex;
  align-items: center;
/* centrar vertical mente */

  /* SEPARADOR DE OBJECT */
    justify-content: space-between;
  /* SEPARADOR DE OBJECT */
}

.header img
{
  height: 90px;
  width: 90px;
  margin-left: -30px;
}

/* COSAS PARA UNA Navbar */
.header ol
{
  /* Poner los objetos horizontalmente */
  display: flex;
  height: inherit;
  align-items: center;
  /* Poner los objetos horizontalmente */
}
.header ol li
{
  display: flex;
  height: 50px;
  padding-left: 40px;
  align-items: center;
}

/* COSAS PARA UNA Navbar */

.header a
{
  font-family: 'PT Serif', serif;
  text-decoration: none;
  color: white;
}

.hero
{
  font-family: 'PT Serif', serif;
  padding-top: 90px;
  margin-bottom: -70px;
  text-align: center;
  font-size: 80px;
  color: #2ECC71;
}

.description_container
{
  text-align: center;
  font-size: 25px;
}

.description_container h2
{
  margin-top: -20px;
  font-size: 35px;
  color: #0B5345;
}
