.blogs-posts-container{
  display: grid;
  grid-template-columns: 90%;
  grid-gap: 100px;
  row-gap: 200px;
  width: 90%;
  margin: 50px 10%;
  margin-bottom: 150px;
}

.relato{
  grid-column: auto;
}

.relato img{
  width: 100%;
  height: 90%;
}

.relato a{
  text-decoration: none;
  color: #0B5345;
  font-size: 60px;
  display: block;

}

.relato a:hover{
  text-decoration: overline;
}

@media screen and (min-width: 1024px){
  .blogs-posts-container{
    grid-template-columns: 500px 500px;
    row-gap: 50px;
    margin: 50px 4%;
    justify-content: center;
  }
  .relato img{
    width: 100%;
    height: 60%;
  }
  
  .relato{
    width: 100%;
  }
}