body
{
  padding: 0px;
  margin: 0px;
  background-color: #dbdbdb;
  width: 100%;
  color: black;
  font-size: 50px;
  font-family: 'Roboto Mono', monospace;

}

.header
{
  height: 250px;
  min-width: 100%;
  background-color:#2ECC71;
  /*--centrar vertical mente */
  display: flex;
  align-items: center;
  /*--centrar vertical mente */

  /*--SEPARADOR DE OBJETOS */
  justify-content: space-evenly;
  /*--SEPARADOR DE OBJETOS*/
  
  z-index: 4;
}

.header h1{
  height: 98px;
  color: #0B5345;
  margin:0px;
  margin-top: 15px;
}

.header .menu{
  display: none;
}
/*------------------- COSAS PARA UNA Navbar */
.header ol
{
  /* Poner los objetos horizontalmente */
  display: flex;
  height: inherit;
  padding-top: auto 0;
  /* Poner los objetos horizontalmente */
}
  
.header ol li
{
  height: 100px;
  display: flex;
  padding-left: 30px;
  align-items: center;
}
.header ol li:hover{
  background-color: #dbdbdb;
}

.header a{
  text-decoration: none;
  margin: auto 20px;
  color: #0B5345;
}
/*----------------------COSAS PARA UNA Navbar*/

.display{
  display: none;
  min-height: 50px;
}
.display ol{
  display: block;
}
.display a{
  color: #0B5345;
}
.header-container:hover h1{
  margin-left: 100px;
  color: #2ECC71;
}
.header-container:hover{
  background: #dbdbdb;
  margin-top: 400px;
}
.header-container:hover .display{
  display: flex;
}



.hero
{
  font-family: 'PT Serif', serif;
  text-align: center;
  font-size: 300px;
  color: #2ECC71;
}

.description_container
{
  width: 80%;
  margin: 0 auto;
  margin-top: -300px;
  text-align: center;
  font-size: 50px;
  color: #0B5345;

}

.me
{
  border: 1px solid  #2ECC71;
  background-color: #2ECC71;
  width: 95%;
  min-height:70%;
  margin: 0 auto;
  margin-top: 155px;
  padding-left: 20px;
}

.me h1
{
  font-family: 'PT Serif', serif;
  font-size: 160px;
  margin-left: 0px;
  color: white;
}

.me p
{
  text-align:initial;
  color: #0B5345;
  padding-left: 15px;
  font-family: 'Roboto Mono', monospace;
}

.me img
{
  display: none;
  float: right;
  margin-top: -250px;
  margin-right: 20px;
}

.frase
{
  color: #0B5345;
  text-align: center;
  margin: 30px auto;
  font-size: 90px;
  font-family: 'Architects Daughter', cursive;

}

.razon
{
  border: 1px solid  #2ECC71;
  width: 95%;
  min-height: 70%;
  margin: 0 auto;
  margin-top: 65px;
  padding-left: 20px;
  background-color: #2ECC71;
  padding-left: 35px;
  font-family: 'Roboto Mono', monospace;
}

.razon h1
{
  margin-left: 60px;
  color: white;
  font-family: 'PT Serif', serif;
}

.razon p
{
  color: #0B5345;
  padding-left: 45px;
  padding-top: 25px
}

.razon img
{
  display: none;
  float: right;
  height: 270px;
  margin-top: -150px;
  margin-right: 0px;
}

.frase_01
{

  color: #0B5345;
  text-align: center;
  margin: 0 auto;
  margin-top: -90px;
  font-size: 90px;
  font-family: 'Architects Daughter', cursive;
}

footer{
  margin-top: 100px;
  min-width: 600px;
  background-color: #2ECC71;
}

.gifImg{
  margin-left: 10rem;
}