---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="DigettNotes+">
  <div class="page-container">
    <section class="hero fade-in">
      <h1>DtNts+</h1>
      <p>En esta página podrás ver todas mis notas mentales</p>
    </section>

    <nav class="btn-group">
      <a class="btn" href="/relatos/">Relatos</a>
      <a class="btn" href="/notas/">Notas</a>
    </nav>
  </div>
</BaseLayout>
